* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  font-family: "Lexend", sans-serif;
}
:root {
  --color: #fff;
  --color-primary: #2980b9;
  --color-secondary: #c0392b;
  --color-accent: #16a085;
  --font-size: 18px;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
}
a:hover {
  text-decoration: none;
  color: #fff;
}

nav.navbar.navbar-expand-lg.navbar-light {
  background: linear-gradient(0deg, rgb(12, 8, 24), rgb(9, 6, 4));
  backdrop-filter: blur(78px);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--color);
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--color);
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  opacity: 0.66;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--color);
  opacity: 1;
}
.banner {
  /* background: #08050F; */
  background: linear-gradient(
    90deg,
    rgba(8, 5, 15, 1) 0%,
    rgba(8, 5, 15, 0.94) 33%,
    rgba(8, 5, 15, 1) 49%
  );
  display: flex;
  min-height: 85vh;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
a.nav-trade {
  background: linear-gradient(90.24deg, #fa2cab -1.6%, #9b69fc 99.79%), #fa2cab;
  border-radius: 8px;
  font-size: 18px;
  padding: 6px 13px;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-content h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  color: var(--color);
}
img.img-responsives {
  width: 51px;
  position: absolute;
  position: absolute;
  margin-top: -18px;
  margin-left: -45px;
}
.back-button.mb-4 a {
  color: #fff;
  opacity: 1;
  font-size: 14px;
  padding: 0 3px;
}
img.img-responsive.mx-auto {
  width: 100%;
}
/* .video-banner {
  max-width: 180px;
  padding: 10px;
  border-radius: 10px;
  color: var(--color);
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
} */
.video-banner 
{
   padding: 0; 
   display: inline-block;
    border-radius:10px ; 
    overflow: hidden;
    max-width: 180px;
    background:  linear-gradient(to left, #743ad5, #d53a9d);
}
.video-inner {
   padding: 10px;
   cursor: pointer;
   font-size: 20px;
   text-align: center;
   background: rgba(8, 5, 15, 1) ;
   display: block;
   margin: 2px;
   color: #fff;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
}
span.tabs-btn {
  padding: 0; 
  display: inline-block;
   border-radius:10px ; 
   overflow: hidden;
   max-width: 180px;
   background:  linear-gradient(to left, #743ad5, #d53a9d);
}
span.btn-start {
  margin: 0;
  padding: 11px 30px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  background: rgba(8, 5, 15, 1);
  display: block;
  margin: 1px;
  color: #fff;
  border-radius: 10px;
  width: 100px;
}
.banner a {
  padding: 5px 17px;
  font-size: 14px;
  font-size: 12px;
  opacity: 0.66;
}
a.lessions {
  background: #d76c5d;
  border-radius: 5px;
  opacity: 1;
  text-transform: uppercase;
}

.progress {
  display: flex;
  height: 0.2rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #201B2C;
  border-radius: 0.25rem;
}
.progress-bar {
  color: #201B2C;
  background-color: #D46DCF;
  background: linear-gradient(
    90deg,
    rgba(75, 47, 124, 1) 0%,
    rgba(212, 109, 207, 1) 33%,
    rgba(212, 109, 207, 1) 49%
  );
}
.progress:before {
  content: "24%";
  position: absolute;
  left: 24%;
  margin-top: -20px;
  color: #fff;
}
.nav-tabs {
  border-bottom: none;
  background: #08050f;
  padding: 50px 0;
}
.nav-tabs-content {
  color: #fff;
  padding: 0 140px;
}
.tabs-span {
  justify-content: space-between;
  display: flex;
  flex: 1;
  color: #fff;
}
ul#pills-tab {
  display: flex;
  justify-content: center;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem rem;
  height: 1.25rem;
  margin-left: auto;
  left: 0;
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
.accordion-item {
  background: #08050f;
  border: 1px solid #1d1a23;
  color: #fff;
}
.accordion-button:not(.collapsed) {
  color: #fff;
  background: #08050f;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
button.accordion-button {
  background: #08050f;
}
ul#pills-tab .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}
.nav-link:focus,
.nav-link:hover {
  color: #fff;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-radius: unset;
  padding: 7px 0;
}

button#pills-profile-tab {
  color: #fff;
}
.accordion-body {
  padding: 1rem 1.25rem;
  background: #1d1a23;
  font-size: 13px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: -0.002em;
  font-family: "Inter", sans-serif;
}
.nav-tabs-content h4 {
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #fafafa;
}
.nav-tabs-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.002em;
  color: #bab7c2;
  font-family: "Inter", sans-serif;
}
.accordion-header {
  margin-bottom: 0;
  padding: 0 15px;
}
.tabs-span span {
  margin-left: 1px;
  display: flex;
  font-size: 14px;
  align-items: center;
}
span.heading {
  font-size: 16px;
}
:focus-visible {
  outline: none !important;
}
span.mb-2.time {
  display: block;
  margin-right: 20px;
  opacity: 0.5;
  font-size: 13px;
}
/* span.tabs-btn {
  border: 1px solid;
  padding: 10px 10px;
  border-radius: 6px;
  font-size: 14px;
  width: 100px;
  display: block;
  text-align: center;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
} */
button:focus {
  box-shadow: none !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(./images/Vector.png);
  transform: rotate(
-180deg
);
bottom: 28px;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  margin-top: 10px;
  content: "";
  background-image: url(./images/Vector.png);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
}
footer {
  padding: 50px 0;
  background: #08050f;
  color: #fff;
}
.footer-content p {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  max-width: 250px;
  font-weight: 100;
}
.footer-content .mb-2 {
  margin-bottom: 0.2rem!important;
  height: 34px;
  position: relative;
  top: -4px;
}
h3 {
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.footer-links,
.footer-contact {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}
.footer-links a {
  font-size: 13px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
  opacity: 0.8;
  font-weight: 100;
}
.footer-contact a {
  font-size: 13px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
  opacity: 0.8;
  font-weight: 100;
}
footer .card {
  background: linear-gradient(
    126.6deg,
    rgba(164, 144, 222, 0.12) 28.69%,
    rgba(207, 153, 225, 0) 100%
  );
  backdrop-filter: blur(68px);
  border-radius: 12px;
}
p.card-text {
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 10px;
  font-weight: 100;
}
.quote {
  position: absolute;
  left: 10px;
  top: 4px;
}
.dot {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  cursor: pointer;
}
a.fa.fa-twitter {
  border-radius: 50%;
  border: 1px solid #55acee;
  padding: 7px;
  background: #55acee;
}
.footer-contact p {
  display: flex;
  align-items: baseline;
  margin-bottom: 0;
}
a.fa.fa-map-marker {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
i.fa.fa-envelope {
  margin-right: 10px;
  font-size: 11px;
  cursor: pointer;
}
.dots {
  display: flex;  
    align-items: center;

}
.pulse-dot {
  width: 7px;
  height: 7px;
  border-radius: 25px;
  margin-right: 10px;
  background-color: #fff;
  opacity: 0.7;
}
.pulse-dot-2{
  opacity: 1;
}
@media (max-width: 1023px) {
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
  }
  .banner-content h1 {
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    color: var(--color);
  }
  .banner {
    min-height: 90vh;
  }
  .tabs-span span {
    flex-direction: column;
  }
  .accordion-header {
    margin-bottom: 0;
    padding: 0 2px;
}
.tabs-span {
  align-items: center;
}
span.mb-2 {
  text-align: center;
}
.nav-tabs-content {
  color: #fff;
  padding: 0 0px;
}
span.mb-2.time {
  margin: 0 auto;
}
.accordion-button:not(.collapsed)::after {
  bottom: 40px;
}
}
